CONFIG_BOARD_HPM6200EVK=y
# CONFIG_BOARD_HPM6200EVK is not set
# CONFIG_BOARD_HPM5300EVK is not set
CONFIG_DSPLIB=y
CONFIG_MOTORCTL=y
CONFIG_ADC=y
CONFIG_USB=y
CONFIG_SHELL=y
CONFIG_SHELL_INTERFACE_UART=y
# CONFIG_SHELL_INTERFACE_USB is not set
# CONFIG_FREERTOS_ENABLE is not set
